.Table {    border: 1px solid #e2d5e6;    border-collapse: collapse;    padding: 5px;}
.Table th {    border: 1px solid black;    padding: 5px;    background: #e2d5e6;}
.Table td {    border: 1px solid black;    padding: 5px;    background: #e2d5e6;}